<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms/login.css}"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:class="registration" th:method="GET" th:action="@{/auth/registration}">
            <input th:class="buttonRegistration" type="submit" value="Регистрация">
        </form>
    </div>

    <div th:class="blockTwoAndThree">
        <section id="content">

            <form name="f" method="POST" action="/process_login">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <h1>Login Form</h1>
                <input type="text" placeholder="Username" name="username" required="" id="username"/>
                <input type="password" placeholder="Password" name="password" required="" id="password"/>
                <input type="submit" value="Войти"/>
                <div th:if="${param.error}" style="color: red">Неправильные логин или пароль</div>
            </form>

        </section>
    </div>

</div>
</body>
</html>