<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/forms/registration.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:class="enter" th:method="GET" th:action="@{/auth/login}">
            <input th:class="buttonEnter" type="submit" value="Вход">
        </form>
    </div>

    <div th:class="blockTwoAndThree">
        <section th:class="scrollableForReg" id="content">

            <!--/*@thymesVar id="person" type="com.itbatia.app.dto.PersonToRegisterDTO"*/-->
            <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
                <h1>Reg Form</h1>
                <p>Введите данные для создания аккаунта:</p>

                <input type="text" placeholder="Фамилия" th:field="*{lastName}" id="lastName"/>
                <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error
                </div>
                <br/>

                <input type="text" placeholder="Имя" th:field="*{firstName}" id="firstName"/>
                <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName
                    Error
                </div>
                <br/>

                <input type="text" placeholder="Отчество" th:field="*{patronymic}" id="patronymic"/>
                <div style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic
                    Error
                </div>
                <br/>

                <input type="text" placeholder="Год рождения" th:field="*{yearOfBirth}" id="yearOfBirth"/>
                <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">
                    YearOfBirth Error
                </div>
                <br/>

                <input type="text" placeholder="Username" th:field="*{username}" id="username"/>
                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error
                </div>
                <br/>

                <input type="password" placeholder="Password" th:field="*{password}" id="password"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error
                </div>
                <br/>

                <label for="roles">Роль*: </label>
                <select id="roles" th:field="*{role}">
                    <option value="USER" th:text="user"/>
                    <option value="LIBRARIAN" th:text="librarian"/>
                    <option value="ADMIN" th:text="admin"/>
                </select>

                <input type="submit" value="Зарегистрироваться"/>
            </form>

        </section>
        <p>* Функция по выбору роли на этапе регистрации сделана только для удобства тестирования приложения.</p>
    </div>

</div>

</body>
</html>