<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
    <link rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/forms/edit-book.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:method="GET" th:action="@{/books/{id}(id=${book.getId()})}">
            <input th:class="buttonBack" type="submit" value="Назад">
        </form>
    </div>

    <div th:class="blockTwo">
        <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
            <input th:class="buttonNavi" type="submit" value="Отменить изменения">
        </form>
    </div>

    <div th:class="blockThree">
        <section id="content">

            <!--/*@thymesVar id="book" type="com.itbatia.app.dto.BookDTO"*/-->
            <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
                <h1>Edit Book</h1>
                <p>Внесите необходимые изменения:</p>

                <input type="text" placeholder="Название" required="" th:field="*{title}" id="title">
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
                <br/>

                <input type="text" placeholder="Автор" required="" th:field="*{author}" id="author">
                <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
                <br/>

                <label for="genre">Жанр: </label>
                <select id="genre" th:field="*{genre}">
                    <option th:each="genre : ${T(com.itbatia.app.models.Genre).values()}"
                            th:value="${genre}" th:text="${genre.getGenreTitle()}">
                    </option>
                </select>
                <br/><br/>

                <input type="submit" value="Сохранить изменения">
            </form>
            <br/>

        </section>
    </div>

</div>

</body>
</html>