<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/forms/new-book.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:method="GET" th:action="@{/books}">
            <input th:class="buttonBack" type="submit" value="Назад">
        </form>
    </div>

    <div th:class="blockTwo">
    </div>

    <div th:class="blockThree">
        <section id="content">

            <!--/*@thymesVar id="book" type="com.itbatia.app.dto.BookDTO"*/-->
            <form th:method="POST" th:action="@{/books/new}" th:object="${book}">
                <h1>New Book</h1>
                <p>Введите данные новой книги</p>

                <input type="text" placeholder="Название" required="" th:field="*{title}" id="title"/>
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
                <br/>

                <input type="text" placeholder="Автор" required="" th:field="*{author}" id="author"/>
                <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
                <br/>

                <label for="genre">Жанр: </label>
                <select id="genre" th:field="*{genre}">
                    <option th:each="genre : ${T(com.itbatia.app.models.Genre).values()}"
                            th:value="${genre}" th:text="${genre.getGenreTitle()}">
                    </option>
                </select>
                <br/><br/>

                <input type="submit" value="Создать"/>

            </form>

        </section>
    </div>

</div>

</body>
</html>
