<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книг</title>
    <link media="all" rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/select.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:action="@{/logout}" th:method="POST">
            <input th:class="buttonExit" type="submit" value="Выход">
        </form>
        <form th:method="GET" th:action="@{/books}">
            <input th:class="buttonBackToBooks" type="submit" value="Вернуться к списку всех книг">
        </form>
    </div>

    <div th:class="blockTwo">
        <div th:class="select">

            <form th:method="POST" th:action="@{/books/search}">

                <label for="searchBy">Поиск книг по: </label>
                <select id="searchBy" name="searchBy" text="text">
                    <option value="title" th:text="названию"/>
                    <option value="author" th:text="автору"/>
                </select>
                <br/><br/>

                <label for="query">Введите поисковый запрос: </label>
                <input id="query" name="query" type="text">
                <br><br>
                <input th:class="buttonNavi" type="submit" value="Искать">

            </form>

        </div>
    </div>

    <div th:class="blockThree">
        <h2 th:class="pageTitle">Результат поиска: </h2>

        <div th:class="scrollableList">

            <!--/*@thymesVar id="books" type="com.itbatia.app.dto.BookDTO"*/-->
            <div th:if="${books}">
                <div th:if="${books.isEmpty()}"><span>Книг не найдено</span></div>


                <div th:if="${!books.isEmpty()}">

                    <span th:if="${amount} == 1">По вашему запросу найдена 1 книга</span>
                    <span th:if="${amount} == 2 OR ${amount} == 3 OR ${amount} == 4"
                          th:text="'По вашему запросу найдено ' + ${amount} + ' книги:'">Text</span>
                    <span th:if="${amount} > 4"
                          th:text="'По вашему запросу найдено ' + ${amount} + ' книг:'">Text</span>
                    <br/><br/>

                    <table th:each="book : ${books}">
                        <tr>
                            <td rowspan="3"><img src="/images/book.png" height="60" alt="Books"></td>
                            <td>Название:</td>
                            <td>
                                <a th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getTitle()}">Title</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Автор:</td>
                            <td th:text="${book.getAuthor()}">Author</td>
                        </tr>
                        <tr>
                            <td>Жанр:</td>
                            <td th:text="${book.getGenre().getGenreTitle()}">Genre</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_LIBRARIAN'')')}">
                                <div th:if="${book.getOwner()!=null}">
                                    <div th:if="${book.getReservedUntil()!=null}">
                                        <span style="color:blueviolet">Книга забронирована пользователем: </span>
                                        <span th:text="${book.getOwner().getFullName()}">Owner's fullName</span>
                                    </div>

                                    <div th:if="${book.getTakenAt()!=null}">
                                        <span style="color:blueviolet">Книга на руках у: </span>
                                        <span th:text="${book.getOwner().getFullName()}">FullName</span>
                                    </div>
                                </div>

                                <div style="color:limegreen" th:if="${book.getOwner()==null}">
                                    <span>Книга свободна</span>
                                </div>
                                <br/>
                            </td>
                            <td th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">

                                <div style="color:blueviolet" th:if="${book.getTakenAt()!=null}">
                                    <div style="color:limegreen" th:if="${book.getOwner()==currentUser}">
                                        <span>Эта книга у вас на руках</span>
                                    </div>
                                    <div style="color:blueviolet" th:if="${book.getOwner()!=currentUser}">
                                        <span>Книга на руках</span>
                                    </div>
                                </div>

                                <div th:if="${book.getReservedUntil()!=null}">
                                    <div style="color:blueviolet" th:if="${book.getOwner()!=currentUser}">
                                        <span>Книга уже забронирована</span>
                                    </div>
                                    <div style="color:limegreen" th:if="${book.getOwner()==currentUser}">
                                        <span>Эта книга забронирована вами</span>
                                    </div>
                                </div>

                                <div style="color:blueviolet" th:if="${book.getOwner()==null}">
                                    <span>Книга свободна</span>
                                </div>
                                <br/>

                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </div>

    <div th:class="footer">
        <a th:href="@{https://github.com/itbatia/Library}" th:target="_blank">Репозиторий с исходным кодом</a>
    </div>

</div>

</body>
</html>
