<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о книгах пользователя</title>
    <link media="all" rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:method="GET" th:action="@{/user/showAccount}">
            <input th:class="buttonBack" type="submit" value="Назад">
        </form>
    </div>

    <div th:class="blockTwo">

    </div>

    <div th:class="blockThree">
        <h2 th:class="pageTitle">Информация о ваших книгах </h2>

        <div th:class="scrollableList">

            <!--/*@thymesVar id="books" type="com.itbatia.app.dto.BookDTO"*/-->
            <div th:each="book : ${books}">

                <span th:text="'Название : ' + ${book.getTitle()}">VALUE</span><br/>
                <span th:text="'Автор: ' + ${book.getAuthor()}">VALUE</span><br/>
                <span th:text="'Жанр: ' + ${book.getGenre().getGenreTitle()}">VALUE</span><br/>

                <div style="color:limegreen" th:if="${book.getReservedUntil()!=null}">

                    <span>Эта книга забронирована вами до </span>
                    <!--        <span th:text="${book.getReservedUntil()}">VALUE</span>-->

                    <span th:text="${reservedUntilFormatList.get(book.getId())}">VALUE</span>
                    <form th:method="PATCH" th:action="@{/user/{id}/removeReserve(id=${book.getId()})}">
                        <input th:class="buttonRelease" type="submit" value="Снять бронь">
                    </form>
                    <br/>
                </div>

                <div style="color:limegreen" th:if="${book.getTakenAt()!=null}">

                    <span>Вы взяли эту книгу в библиотеке </span>
                    <span th:text="${book.getTakenAt()}">VALUE</span>
                    <br/><br/>
                </div>

            </div>

            <div th:if="${books.isEmpty()}">
                <span>У вас пока нет забронированных или взятых в библиотеке книг.</span>
            </div>

        </div>

    </div>

</div>


<!--/*@thymesVar id="books" type="com.itbatia.app.dto.BookDTO"*/-->
<!--<div th:each="book : ${books}">-->

<!--    <span th:text="'Название : ' + ${book.getTitle()}">VALUE</span><br/>-->
<!--    <span th:text="'Автор: ' + ${book.getAuthor()}">VALUE</span><br/>-->
<!--    <span th:text="'Жанр: ' + ${book.getGenre().getGenreTitle()}">VALUE</span><br/>-->

<!--    <div style="color:limegreen" th:if="${book.getReservedUntil()!=null}">-->

<!--        <span>Эта книга забронирована вами до </span>-->
<!--&lt;!&ndash;        <span th:text="${book.getReservedUntil()}">VALUE</span>&ndash;&gt;-->

<!--        <span th:text="${reservedUntilFormatList.get(book.getId())}">VALUE</span>-->
<!--        <form th:method="PATCH" th:action="@{/user/{id}/removeReserve(id=${book.getId()})}">-->
<!--            <input type="submit" value="Снять бронь">-->
<!--        </form>-->
<!--        <br/>-->
<!--    </div>-->

<!--    <div style="color:limegreen" th:if="${book.getTakenAt()!=null}">-->

<!--        <span>Вы взяли эту книгу в библиотеке </span>-->
<!--        <span th:text="${book.getTakenAt()}">VALUE</span>-->
<!--        <br/><br/>-->
<!--    </div>-->

<!--</div>-->

<!--<form th:method="GET" th:action="@{/user/showAccount}">-->
<!--    <input type="submit" value="Вернуться в личный кабинет">-->
<!--</form>-->

</body>
</html>