<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех людей</title>
    <link media="all" rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:action="@{/logout}" th:method="POST">
            <input th:class="buttonExit" type="submit" value="Выход">
        </form>
        <form th:method="GET" th:action="@{/user/show_account}">
            <input th:class="buttonBackToBooks" type="submit" value="Вернуться в личный кабинет">
        </form>
    </div>

    <div th:class="blockTwo">
        <form th:method="GET" th:action="@{/people/search}">
            <input th:class="buttonNavi" type="submit" value="Поиск пользователей">
        </form>
        <form th:method="GET" th:action="@{/people/report}">
            <input th:class="buttonNavi" type="submit" value="Отчёт по пользователям">
        </form>
        <form th:method="GET" th:action="@{/books}">
            <input th:class="buttonNavi" type="submit" value="Перейти к списку книг">
        </form>
    </div>

    <div th:class="blockThree">
        <h2 th:class="pageTitle">Список зарегистрированных пользователей</h2>

        <table>
            <tr>
                <th></th>
                <th>Полное имя</th>
            </tr>
            <!--/*@thymesVar id="people" type="com.itbatia.app.dto.PersonDTO"*/-->
            <tr th:each="person : ${people}">
                <td th:if="${person.getFullName().endsWith('а') || person.getFullName().endsWith('a')}">
                    <img th:src="@{images/logo-she.png}" height="14" alt="She"></td>
                <td th:if="${!person.getFullName().endsWith('а') && !person.getFullName().endsWith('a')}">
                    <img th:src="@{images/logo-he.png}" height="14" alt="He"></td>
                <td>
                    <a th:href="@{/people/{id}(id=${person.getId()})}"
                       th:text="${person.getFullName()}">Full name</a>
                </td>
            </tr>
        </table>

    </div>

    <div th:class="footer">
        <a th:href="@{https://github.com/itbatia/Library}" th:target="_blank">Репозиторий с исходным кодом</a>
    </div>

</div>

</body>
</html>
