<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:method="GET" th:action="@{/people/report}">
            <input th:class="buttonBack" type="submit" value="Назад">
        </form>
    </div>

    <div th:class="blockTwo"></div>

    <div th:class="blockThree">

        <h2 th:if="${number==1}" th:class="pageTitle">Пользователи с книгами на руках</h2>
        <h2 th:if="${number==2}" th:class="pageTitle">Пользователи забронировавшие книги на сайте</h2>
        <h2 th:if="${number==3}" th:class="pageTitle">Потеряли возможность бронировать книги на сайте</h2>

        <div th:class="scrollableList">

            <table th:if="${!people.isEmpty()}">
                <tr>
                    <th></th>
                    <th>Полное имя</th>
                </tr>
                <!--/*@thymesVar id="people" type="com.itbatia.app.dto.PersonDTO"*/-->
                <tr th:each="person : ${people}">
                    <td th:if="${person.getFullName().endsWith('а') || person.getFullName().endsWith('a')}">
                        <img src=/images/logo-she.png height="14" alt="She"></td>
                    <td th:if="${!person.getFullName().endsWith('а') && !person.getFullName().endsWith('a')}">
                        <img src=/images/logo-he.png height="14" alt="He"></td>
                    <td>
                        <a th:href="@{/people/{id}(id=${person.getId()})}"
                           th:text="${person.getFullName()}">Full name</a>
                    </td>
                </tr>
            </table>

            <div th:if="${people.isEmpty()}">
                <span th:if="${number==1}">В данный момент все книги в библиотеке</span>
                <span th:if="${number==2}">В данный момент нет ни одной забронированной книги</span>
                <span th:if="${number==3}">В данный момент все пользователи<br/>имеют возможность бронировать книги на сайте</span>
            </div>

        </div>
    </div>

    <div th:class="footer">
        <a th:href="@{https://github.com/itbatia/Library}" th:target="_blank">Репозиторий с исходным кодом</a>
    </div>

</div>

</body>
</html>