<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link media="all" rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/scrollable-list.css}" type="text/css"/>
</head>
<body>

<div th:class="blockMain">

    <div th:class="blockOne">
        <form th:method="GET" th:action="@{/people}">
            <input th:class="buttonBackToPeople" type="submit" value="Вернуться к списку пользователей">
        </form>
    </div>

    <div th:class="blockTwo">
        <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
              th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
            <input th:class="buttonNavi" type="submit" value="Изменить данные пользователя">
        </form>
        <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
              th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input th:class="buttonNavi" onclick="return confirm('Вы уверены, что хотите удалить пользователя?')"
                   type="submit" value="Удалить пользователя">
        </form>
    </div>

    <div th:class="blockThree">
        <h2 th:class="pageTitle">Информация о пользователе</h2>

        <table>
            <tr>
                <td rowspan="4">
                    <img th:if="${person.getFullName().endsWith('а') || person.getFullName().endsWith('a')}"
                         src="/images/logo-she.png" height="60" alt="She">
                    <img th:if="${!person.getFullName().endsWith('а') && !person.getFullName().endsWith('a')}"
                         src="/images/logo-he.png" height="60" alt="He">
                </td>
                <td th:text="'Полное имя : ' + ${person.getFullName()}">FullName</td>
            </tr>
            <tr>
                <td th:text="'Год рождения: ' + ${person.getYearOfBirth()}">YearOfBirth</td>
            </tr>
            <tr>
                <td th:text="'Возможность бронировать книги на сайте: ' + ${person.getBooking()}">Booking</td>
            </tr>
            <tr>
                <td th:text="'Дата создания аккаунта: ' + ${person.getCreatedAt()}">CreatedAt</td>
            </tr>
        </table>
        <br/>

        <div th:if="${books.isEmpty()}">
            <p style="color: blueviolet">Человек пока не взял ни одной книги</p>
        </div>

        <!--/*@thymesVar id="books" type="com.itbatia.app.dto.BookDTO"*/-->
        <div th:if="${!books.isEmpty()}">

            <div th:class="scrollableForShowPerson">

                <table th:each="book : ${books}">

                    <tr th:style="${book.isTimeExpired()} ? 'color: red' : 'color: blueviolet' "
                        th:if="${book.getTakenAt()!=null}">
                        <td>Книга взята на руки <span th:text="${book.getTakenAt()}">Value</span></td>
                        <td>
                <span th:style="${book.isTimeExpired()} ? 'color: red' : 'color: black' "
                      th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getGenre().getGenreTitle()}">book
                </span>
                        </td>
                    </tr>

                    <tr th:if="${book.getReservedUntil()!=null}">
                        <td style="color:limegreen">Книга забронирована до</td>
                        <td style="color:limegreen" th:text="${reserveTime.get(book.getId())}">ReservedUntil</td>
                        <td>
                            <span th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getGenre().getGenreTitle()}">book</span>
                        </td>
                    </tr>

                </table><br/>

                <div>
                    <img src="/images/red-square.jpg" height="10" alt="red">
                    <span> - просроченные книги</span>
                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>