<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello page</title>
    <link media="all" rel="stylesheet" th:href="@{/css/blocks.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/page-titles.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/hello.css}" type="text/css"/>
</head>

<body>

<div th:class="blockMain">
    <div th:class="blockOne">

        <form th:class="enter" th:method="GET" th:action="@{/auth/login}">
            <input th:class="buttonEnter" type="submit" value="Вход">
        </form>

        <form th:class="registration" th:method="GET" th:action="@{/auth/registration}">
            <input th:class="buttonRegistration" type="submit" value="Регистрация">
        </form>

    </div>

    <div th:class="blockTwoAndThree">
        <br/>
        <img th:class="hello-picture" src="/images/hello-library.jpg" alt="Library"><br/><br/>
        <h3 th:class="pageTitleHello">Уважаемый пользователь!</h3><br/><br/>
        <span th:class="hello-text">Данный сайт создан для того, чтобы была возможность найти<br/>нужную книгу из списка имеющихся,
            а не ехать в библиотеку наобум.<br/>Найденную книгу можно забронировать, и, как следствие, быть
            уверенным,<br/>что её никто не заберёт до вас!</span><br/><br/><br/><br/>
        <img th:class="hello-picture" src="/images/hello-library-2.png" alt="Library">
    </div>

</div>

</body>
</html>